ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
    background: #159cb0 url(../arquivos-necessarios-navegacao-horizontal/fundo-horizontal.png) repeat-x;
    float: left;
}

ul li{
    float:left;
}

ul a{
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: #fff;
    background: url(../arquivos-necessarios-navegacao-horizontal/divisor.png) repeat-y;
}

ul .primeiro a{
    background: none;
}

ul a:hover, .selecionado a, .selecionado{
    background:#44cade;
    color: #085662;
}
